exportPattern("^[[:alpha:]]+")
useDynLib(scLM)
import("methods")
import("stats")
importFrom("purrr","map")
importFrom("mpath","glmregNB")
importFrom("parallel","mclapply","detectCores")
importFrom("utils", "chooseCRANmirror", "install.packages")
importFrom("utils", "data", "tail")
export(BICs,Multi_NB,chooseCRANmirror,loglik,updateZ,Convert,BICs)
